<mat-card class="restaurant__card" @fade>
  <img
    @fade
    mat-card-image
    NgOptimizedImage
    [src]="restaurantMetaData.LogoUrl"
    alt="Logo of the
  restaurant"
    width="75px"
    height="125px"
  />
  <mat-card-content>
    <div class="restaurant__card__content">
      <div>
        <span>
          {{ restaurantMetaData.Name }}
        </span>
      </div>
      <app-rating-star
        [rating]="restaurantMetaData.RatingStars"
      ></app-rating-star>
      <div>
        <app-food-types-chip
          [cuisineTypes]="restaurantMetaData.CuisineTypes"
        ></app-food-types-chip>
      </div>
    </div>
  </mat-card-content>
</mat-card>
