.restaurant__card {
    max-width: 350px;
    width: 350px;
    height: 250px;
    min-width: 200px;
    min-height: 250px;
    display: flex;
    align-items: center;

    img {
        min-width: 100px;
        min-height: 100px;
        max-height: 100px;
        max-width: 100px;
    }
}

.restaurant__card__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 900;
    }

    div {
        padding: 5px 0px;
        box-sizing: border-box;
        height: 32px;
    }
}
