<mat-toolbar color="accent">
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <button
    mat-raised-button
    color="primary"
    aria-label="A button to trigger a new search"
    *ngIf="enableNewSearch"
    (click)="navigateToSearch()"
  >
    New Search
  </button>
</mat-toolbar>
