.container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: url(/assets/delivery-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.search__container {
    width: 500px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search__actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;

    button {
        width: 40%;
    }
}

.search__input {
    width: 90%;
}
