<div class="container">
  <div class="search__container" [formGroup]="searchForm">
    <mat-form-field class="search__input">
      <mat-label>Postal Code</mat-label>
      <input matInput placeholder="Ex: ec4m" formControlName="postalCode" />
    </mat-form-field>
    <div class="search__actions">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!searchForm.valid"
        (click)="submit()"
      >
        Search
      </button>
      <button mat-raised-button color="accent" (click)="useUserLocation()">
        Use My Location 📍
      </button>
    </div>
  </div>
</div>
