<div class="container" @fade>
  <div class="restaurants__list" #container>
    <ng-container *ngFor="let restaraunt of restaurants">
      <app-restaurant-card
        [restaurantMetaData]="restaraunt"
      ></app-restaurant-card>
    </ng-container>
    <h2
      *ngIf="!(isLoading | async) && restaurants.length === 0"
      class="restaurants__list__no-results"
    >
      No results found for {{ postalCode }}
    </h2>
  </div>
  <app-pagination
    [length]="totalRestaurants"
    (paginationEvent)="handlePagination($event)"
  ></app-pagination>
</div>
