.container {
    overflow: hidden;
}

.restaurants__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    height: calc(100vh - 140px);
    overflow: auto;
    padding: 10px 0px;
    box-sizing: border-box;
}

.restaurants__list__no-results {
    place-self: center;
}
